# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# Code files
[*.{cs,csx,vb,vbx}]
indent_size = 4

# C# files
[*.cs]

# Visual Basic files
[*.vb]

# JSON files
[*.json]
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_size = 2

# XML project files
[*.{csproj,vbproj,proj,projitems,shproj}]
indent_size = 2

# XML config files
[*.{props,targets,ruleset,config,nuspec,resx,resw,xaml}]
indent_size = 2

# Shell scripts
[*.{sh,bash}]
end_of_line = lf

# Markdown files
[*.md]
trim_trailing_whitespace = false
